.dv_slider{
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.dv_slider .slide{
    position: absolute;
    overflow: hidden;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transform: translate(100%,0);

    transition: transform 1s;
}
.dv_slider .slide img{
    position: absolute;
    object-fit: cover;
    z-index: 2;
}
.dv_slider .slide.showing{
    transform: translate(0,0);
    z-index: 4;
}
.dv_slider .swipe-left{
    transform: translate(-100%,0);
    z-index: 2;
}
.dv_slider .slide .img_hcenter{
    height: 100%;
    left: 50%;
    transform: translate(-50%,0%);
}
.dv_slider .slide .img_vcenter{
    width: 100%;
    top: 50%;
    transform: translate(0%,-50%);
}
.dv_slider .slide .img_center{
    width: 100%;
    height: 100%;
}
.dv_slider .slide .bg_blur{
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover;
    filter: blur(1px);
}